/* 
// 
// TRIALS
// 
*/


// list
// -------------------------

#trial-list {
	.row {
		margin-top: 2em;
		margin-bottom: 2em;		
	}
	
	h3 {
		margin-top: 0;
	}
	
	.alert {
		margin-bottom: 0;
	}
	
	.btn-block {
  	text-align: left;
  	padding-left: .75em;
  	padding-right: .75em;
  	span {
    	text-transform: uppercase;
  	}
	}
}