/* 
// 
// BOOTSTRAP VARIABLE OVERRIDES
// 
*/

// COLORS
// -------------------------

// Grays -- directly from bootstrap but added to be able to reference later in this doc
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

$white:					#fff;
$black:					#000;

// Accents
$blue:		#5c789c;		$blueDark:		#324762;		$blueLight:		#90a6c4;		$blueOpaque:		rgba($blue, .4);
$green:		#97a116;		$greenDark:		#636b03;		$greenLight:	#c4cd5c;		$greenOpaque:		rgba($green, .4);
$yellow:	#d4c62f;		$yellowDark:	#8b8010;		$yellowLight:	#f0e56b;		$yellowOpaque:	rgba($yellow, .4);
$orange:	#c49f39;		$orangeDark:	#806318;		$orangeLight:	#e4c673;		$orangeOpaque:	rgba($orange, .4);
$red:			#a86156;		$redDark:			#6b352e;		$redLight:		#cc938a;		$redOpaque:			rgba($red, .4);
$pink:		#bf8298;		$pinkDark:		#774959;		$pinkLight:		#d9a9ba;		$pinkOpaque:		rgba($pink, .4);
$purple:	#997bbd;		$purpleDark:	#5b4575;		$purpleLight:	#bda4d9;		$purpleOpaque:	rgba($purple, .4);

// Brand
$brand-primary:         $green;
$brand-success:         $green;
$brand-warning:         $orange;
$brand-danger:          $red;
$brand-info:            $blue;

// Player frame types
$choice: rgb(200,66,66);
$text:   rgb(113,191,70);
$video:  rgb(59,154,199);


// SCAFFOLDING
// -------------------------
$body-bg: 				darken($white, 1%);
$text-color:			$gray;


// LINKS
// -------------------------
$link-color:             $text-color;
$link-color-hover:       $text-color;


// TYPOGRAPHY
// -------------------------
$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family:    'Open Sans Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:    700;


// TABLES
// -------------------------
$table-bg: 							$white; // overall background-color
$table-bg-accent: 			darken($white, 3%); // for striping
$table-bg-hover: 				$yellowOpaque; // for hover

$table-border-color: 		$gray-lighter; // table and cell border


// NAVBAR
// -------------------------
$navbar-height:                    40px;
$navbar-inverse-link-active-bg:    transparent;


// PAGINATION
// -------------------------
$pagination-active-bg:          $gray-light;


// FROM STATES AND ALERTS
// -------------------------
$state-success-text:             $greenDark;
$state-success-bg: 				       rgba($green, .1);
$state-success-border:           $green;

$state-info-text:                $blueDark;
$state-info-bg:         				 rgba($blue, .1);
$state-info-border:              $blue;

$state-warning-text:             $yellowDark;
$state-warning-bg:      			   rgba($yellow, .1);
$state-warning-border:           $yellow;

$state-danger-text:              $redDark;
$state-danger-bg:        				 rgba($red, .1);
$state-danger-border:            $red;











































