<header class="page-header">
	<h1><%= @title %></h1>
</header>

<section class="row-fluid">
	<div class="span4 big_stats well">
		<h4>Pending Sales Today</h4>
		<span class="value">12</span><br>
		<span class="view_all"><a href="#">View All Pending Sales</a></span>
	</div>
	<div class="span4 big_stats well">
		<h4>Completed Sales Today</h4>
		<span class="value">23</span><br>
		<span class="view_all"><a href="javascript:;">View All Completed Sales</a></span>
	</div>
	<div class="span4 big_stats well">
		<h4>Returned Items Today</h4>
		<span class="value">2</span><br>
		<span class="view_all"><a href="javascript:;">View Returned Items</a></span>
	</div>
</section>


<section class="row-fluid">
	
		<div class="span6">
			<div class="widget">
				<div class="widget-head">
					<h5>Line vs. Bar Graph</h5>
					<a href="#" id="bars" class="btn btn-right tooltips" rel="tooltip" data-placement="top" data-original-title="Bar Graph"><i class="icon-bar-chart"></i></a>
					<a href="#" id="lines" class="btn btn-right tooltips active" rel="tooltip" data-placement="top" data-original-title="Line Graph"><i class="icon-adjust"></i></a>
				</div>
				
				<div class="graph-padding">
			    <div class="graph-container">
			        <div id="graph-lines"></div>
			        <div id="graph-bars"></div>
			    </div>					
				</div>
		
			</div>
		</div> <!-- .span6 -->
		
		<div class="span6">
			<div class="widget">
				<div class="widget-head">
					<h5>Pie Chart</h5>
				</div>
				<div class="graph-padding">
					<div class="graph-container">
			        <div id="graph-pie"></div>
					</div>
				</div>
			</div>
		</div> <!-- .span6 -->
</section>

<section class="row-fluid">
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Top Referrers</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="http://google.com">http://google.com</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://yahoo.com">http://yahoo.com</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://themeforest.net">http://themeforest.net</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://codecanyon.net">codecanyon.net</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://madebyamp.com">http://madebyamp.com</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Most Visited Pages</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="javascript:;">Carbon Admin</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Mega Dropdown</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">DropUI Buttons</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Azure Admin</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">NoticeUI</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Browser</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description">Firefox</td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description">Chrome</td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description">Internet Explorer</td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description">Safari</td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description">Opera</td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
</section>

<script type="text/javascript">
$(document).ready(function () {
	var graphData = [{
          data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000] ],
          label: 'Visitors'
      }, {
          data: [ [6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000] ],
          label: 'Returning Visitors'
      }
  ];
  
  $.plot($('#graph-lines'), graphData, {
      series: {
          points: {
              show: true,
              radius: 5
          },
          lines: {
              show: true
          },
          shadowSize: 0
      },
      grid: {
          color: '#646464',
          borderColor: 'transparent',
          borderWidth: 10,
          hoverable: true
      },
      xaxis: {
          tickColor: 'transparent',
          tickDecimals: 0
      },
      yaxis: {
          tickSize: 1000
      }
  });

  $.plot($('#graph-bars'), graphData, {
      series: {
          bars: {
              show: true,
              barWidth: .9,
              align: 'center'
          },
          shadowSize: 0
      },
      grid: {
          color: '#646464',
          borderColor: 'transparent',
          borderWidth: 10,
          hoverable: true
      },
      xaxis: {
          tickColor: 'transparent',
          tickDecimals: 0
      },
      yaxis: {
          tickSize: 1000
      }
  });
  
  $.plot($('#graph-pie'), graphData, {
    series: {
        pie: { 
            show: true
        }
    }
  });
  
  var pieData = [
    { label: "%78.75 New Visitor",  data: 78.75 },
    { label: "%21.25 Returning Visitor",  data: 21.25 }
  ];

  $.plot($("#graph-pie"), pieData, {
    series: {
      pie: {
        show: true,
        highlight: { opacity: 0.1 },
        stroke: { color: '#fff', width: 3 },
        startAngle: 2
      }
    },
    legend: {
      position: "ne"
    },
    grid: {
      hoverable: true,
      clickable: true
    }
  });
	
  $('#graph-bars').hide();
	
  $('#lines').click(function() {
    $('#bars').removeClass('active');
    $('#graph-bars').fadeOut();
    $(this).addClass('active');
    $('#graph-lines').fadeIn();
    return e.preventDefault();
  });

  $('#bars').click(function() {
    $('#lines').removeClass('active');
    $('#graph-lines').fadeOut();
    $(this).addClass('active');
    $('#graph-bars').fadeIn().removeClass('hidden');
    return e.preventDefault();
  });
});
</script>