<%
	content_for :javascript_includes do %>
  <%= javascript_include_tag "jquery.peity" %>
  <%= javascript_include_tag "page-specific/dashboard" %>
<% end %>


<section class="row">
	<div class="span4">
		<div class="big_stats well">
			<h4>Pending Sales Today</h4>
			<span class="value">12</span><br>
			<span class="view_all"><a href="#">View All Pending Sales</a></span>
		</div>
	</div>
	<div class="span4">
		<div class="big_stats well">
			<h4>Completed Sales Today</h4>
			<span class="value">23</span><br>
			<span class="view_all"><a href="javascript:;">View All Completed Sales</a></span>
		</div>
	</div>
	<div class="span4">
		<div class="big_stats well">
			<h4>Returned Items Today</h4>
			<span class="value">2</span><br>
			<span class="view_all"><a href="javascript:;">View Returned Items</a></span>
		</div>
	</div>
</section>

<div class="row dashboard-row-header">
	<div class="span2">
		<h2 class="muted">Trials</h2>
	</div>
	<div class="span10">
		<input type="search" name="trial_search" placeholder="Filter&#8230;" class="pull-left">
		<button class="btn pull-right" data-toggle="button"><i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></button>
		<div class="btn-group pull-right">
			  <button class="btn dropdown-toggle" data-toggle="dropdown">Recently Viewed <span class="caret"></span></button>
			 	<ul class="dropdown-menu">
			 		<li><a href="#">Recently Updated</a></li>
			     <li><a href="#">Name </a></li>
			     <li><a href="#">Status </a></li>
			     <li><a href="#">Role </a></li>
			   </ul>
			</div>
	</div>	
</div>

<hr class="double">

<table class="dashboard-row-table" id="user-trials">
	<tbody>
		<tr>
			<td><h3>Basic Trial 1</h3>
					<p class="muted">Cosby sweater wolf portland put a bird on it aesthetic master cleanse.  VHS readymade pork belly PBR gastropub cray.  Portland street art beard meh.</p>
					<a href="http://google.com" class="btn hidden-phone">Manage Trial</a>
			</td>
			<td width="20%" class="hidden-phone">
				<span class="lead unit"><strong>1</strong></span>
				<span class="muted"> &emsp;SIMULATION</span>
				<br>
				<span class="lead unit"><strong>0</strong></span>
				<span class="muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead unit"><strong>3</strong></span>
				<span class="muted"> &emsp;AUDITORS</span>
			</td>
			<td width="25%">
				<p class="centered"><i class="icon-exclamation-sign text-error"></i> <span class="text-error">INCOMPLETE</span></p>
				<div class="alert alert-error hidden-phone"><strong>There are currently no participants or  users.</strong>
				Add participants by sending users an invitation.</div>
			</td>
		</tr>
		<tr>
			<td><h3>Basic Trial 3.5</h3>
					<p class="muted">Mumblecore pinterest small batch gastropub, echo park bicycle rights chambray..</p>
					<a href="http://flickr.com" class="btn hidden-phone">Manage Trial</a>
			</td>
			<td width="20%" class="hidden-phone">
				<span class="lead unit"><strong>2</strong></span>
				<span class="muted"> &emsp;SIMULATIONS</span>
				<br>
				<span class="lead unit"><strong>35</strong></span>
				<span class="muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead unit"><strong>6</strong></span>
				<span class="muted"> &emsp;AUDITORS</span>
			</td>
			<td width="25%">
				<p class="centered"><i class="icon-time text-warning"></i> IN PROGRESS</p>
				<div class="peity"><span class="bar">10,25,65</span></div>
			</td>
		</tr>
		<tr>
			<td><h3> Basic Trial 4</h3>
					<p class="muted">Eitan neutra 90's, kogi flannel art party sartorial YOLO bespoke photo booth meh butcher marfa direct trade.</p>
					<a href="http://msn.com" class="btn hidden-phone">Manage Trial</a>
			</td>
			<td width="20%" class="hidden-phone">
				<span class="lead unit"><strong>1</strong></span>
				<span class="muted"> &emsp;SIMULATION</span>
				<br>
				<span class="lead unit"><strong>5</strong></span>
				<span class="muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead unit"><strong>1</strong></span>
				<span class="muted"> &emsp;AUDITOR</span>
			</td>
			<td width="25%">
				<p class="centered"><i class="icon-ok-circle text-success"></i> FINISHED</p>
				
			</td>
		</tr>
		<tr class="expired">
			<td><h3> Basic Trial 5</h3>
					<p class="muted">Lomo art party flannel messenger bag gastropub vice.</p>
					<a href="http://willinteractive.com" class="btn hidden-phone">Manage Trial</a>
			</td>
			<td width="20%" class="hidden-phone">
				<span class="lead unit"><strong>1</strong></span>
				<span class="muted"> &emsp;SIMULATION</span>
				<br>
				<span class="lead unit"><strong>5</strong></span>
				<span class="muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead unit"><strong>1</strong></span>
				<span class="muted"> &emsp;AUDITOR</span>
			</td>
			<td width="25%">
				<p class="centered"><i class="icon-ban-circle muted"></i> EXPIRED
				<br>
					<em>on July 5, 2012</em>
				</p>
			</td>
		</tr>
	</tbody>
</table>

<p class="pull-right">
	Showing 5 of 7 &mdash; <a href="javascript:;">Show All Trials <i class="icon-caret-down"></i></a>
</p>

<hr>

<section class="row">
	
		<div class="span6">
			<div class="widget widget-graph">
				<div class="widget-head">
					<a href="javasript:;" id="lines" class="btn tooltips active pull-left" rel="tooltip" data-placement="top" data-original-title="Line Graph"><i class="icon-adjust"></i></a>	
					<a href="javasript:;" id="bars" class="btn tooltips pull-left" rel="tooltip" data-placement="top" data-original-title="Bar Graph"><i class="icon-bar-chart"></i></a>						
					<h5 class="pull-left">Line vs. Bar Graph</h5>
				</div>
				
				<div class="graph-padding">
			    <div class="graph-container">
			        <div id="graph-lines"></div>
			        <div id="graph-bars"></div>
			    </div>					
				</div>
		
			</div>
		</div> <!-- .span6 -->
		
		<div class="span6">
			<div class="widget widget-graph">
				<div class="widget-head">
					<h5>Pie Chart</h5>
				</div>
				<div class="graph-padding">
					<div class="graph-container">
			        <div id="graph-pie"></div>
					</div>
				</div>
			</div>
		</div> <!-- .span6 -->
</section>

<section class="row">
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Top Referrers</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="http://google.com">http://google.com</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://yahoo.com">http://yahoo.com</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://themeforest.net">http://themeforest.net</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://codecanyon.net">codecanyon.net</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://madebyamp.com">http://madebyamp.com</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Most Visited Pages</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="javascript:;">Carbon Admin</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Mega Dropdown</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">DropUI Buttons</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Azure Admin</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">NoticeUI</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Browser</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description">Firefox</td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description">Chrome</td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description">Internet Explorer</td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description">Safari</td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description">Opera</td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
</section>