<%
	content_for :javascript_includes do %>
  <%= javascript_include_tag "page-specific/dashboard2" %>
<% end %>

<header id="sidebar-header" class="page-header clearfix">
	<div id="main-dropdown" class="btn-group pull-left">
	  <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">Trials & Previews <span class="caret"></span></button>
	 	<ul class="dropdown-menu">
	 		<li><a href="#">Just Trials</a></li>
	     <li><a href="#">Just Previews</a></li>
	   </ul>
	</div>
	
	<button class="btn pull-right" data-toggle="button"><i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></button>

	<div class="btn-group pull-right">
	  <button class="btn dropdown-toggle" data-toggle="dropdown">Recently Viewed <span class="caret"></span></button>
	 	<ul class="dropdown-menu">
	 		<li><a href="#">Recently Updated</a></li>
	     <li><a href="#">Name </a></li>
	     <li><a href="#">Status </a></li>
	     <li><a href="#">Role </a></li>
	   </ul>
	</div>

	<input type="search" name="trial_search" placeholder="Filter&#8230;" class="pull-right">
		
</header>

<div class="row">
  <div class="span4">
    <ul id="dashboard-sidebar" class="unstyled">
      <li><a href="javascript:;" class="new">
      		<i class="icon-star text-warning"></i>
      		<span class="pull-right">incomplete <i class="icon-exclamation-sign text-error"></i></span>
      		<h4><i class="icon-group"></i> Basic Trial 001</h4>
      		<p>Semiotics meh food truck art party post-ironic…</p>
      	</a></li>
      <li><a href="javascript:;" class="active">
      		<span class="pull-right">in progress <i class="icon-time text-warning"></i></span>
      		<h4><i class="icon-group"></i> Basic Trial 002</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
      	</a></li>
      <li><a href="javascript:;" class="new">
      		<i class="icon-star text-warning"></i>
      		<span class="pull-right">finished <i class="icon-ok-circle text-success"></i></span>
      		<h4><i class="icon-group"></i> Basic Trial 003</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
      	</a></li>
      <li><a href="javascript:;" class="expired">
      		<span class="pull-right">expired <i class="icon-ban-circle"></i></span>
      		<h4><i class="icon-group"></i> Basic Trial 004</h4>
      		<p>Semiotics meh food truck art party post-ironic…</p>
      	</a></li>
      <li><a href="javascript:;" class="">
      		<span class="pull-right">in progress <i class="icon-time text-warning"></i></span>
      		<h4><i class="icon-user"></i> Basic Trial 005</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="pie">2/3</span></span></p>
      	</a></li>
      <li><a href="javascript:;" class="">
      		<span class="pull-right">not started <i class="icon-minus-sign text-error"></i></span>
      		<span class="label label-danger">Hurry! Trial ends in 5 days!</span>
      		<h4><i class="icon-user"></i> Basic Trial 006</h4>
      		<p>Semiotics meh food truck art party post-ironic…</p>
      	</a></li>
      <li><a href="javascript:;" class="">
      		<span class="pull-right">in progress <i class="icon-time text-warning"></i></span>
      		<h4><i class="icon-group"></i> Basic Trial 007</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
      	</a></li>
    </ul>
    <!--
<div class="message-sidebar">
      <a href="#" class="message-preview new">
        <p class="pull-right">21 Wed</p>
        <h4>Carly Rae</h4>
        <h5 class="sub">Call me Maybe</h5>
        <p>Hey, I just met you, and this is crazy, but here's my number and you should probably call me.</p>
      </a>
    </div>
-->
  <a href="#" class="load-more">Load More <i class="icon-caret-down"></i></a>
  </div>
  <div class="span8">
    <h2>Basic Trial 002</h2>
  </div>
</div>

