<%
	content_for :javascript_includes do %>
  <%= javascript_include_tag "page-specific/dashboard2" %>
<% end %>

<header id="sidebar-header" class="page-header clearfix">
	<div id="main-dropdown" class="btn-group pull-left">
	  <button class="btn btn-default btn-large dropdown-toggle" data-toggle="dropdown">Trials & Previews&ensp;<span class="caret muted"></span></button>
	 	<ul class="dropdown-menu">
	 		<li><a href="#">Just Trials</a></li>
	     <li><a href="#">Just Previews</a></li>
	   </ul>
	</div>
	
	<button class="btn btn-default pull-right" data-toggle="button"><i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></button>

	<div class="btn-group pull-right">
	  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Recently Viewed <span class="caret"></span></button>
	 	<ul class="dropdown-menu">
	 		<li><a href="#">Recently Updated</a></li>
	     <li><a href="#">Name </a></li>
	     <li><a href="#">Status </a></li>
	     <li><a href="#">Role </a></li>
	   </ul>
	</div>

	<input type="search" class="form-control" name="trial_search" placeholder="Filter&#8230;" class="pull-right">
		
</header>

<div class="row">
  <div class="col-sm-4">
    <ul id="dashboard-sidebar" class="list-unstyled">
      <li><a href="javascript:;" class="new">
      		<span class="pull-right">incomplete <i class="fa fa-exclamation-circle text-danger"></i></span>
      		<h4><i class="fa fa-group"></i> Basic Trial 001</h4>
      		<p>Semiotics meh food truck art party post-ironic…</p>
      	</a></li>
      <li><a href="javascript:;" class="active">
      		<span class="pull-right">in progress <i class="fa fa-clock-o text-warning"></i></span>
      		<h4><i class="fa fa-group"></i> Basic Trial 002</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
      	</a></li>
      <li><a href="javascript:;" class="new">
      		<span class="pull-right">finished <i class="fa fa-check-circle-o text-success"></i></span>
      		<h4><i class="fa fa-group"></i> Basic Trial 003</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
      	</a></li>
      <li><a href="javascript:;" class="expired">
      		<span class="pull-right">expired <i class="fa fa-ban"></i></span>
      		<h4><i class="fa fa-group"></i> Basic Trial 004</h4>
      		<p>Semiotics meh food truck art party post-ironic…</p>
      	</a></li>
      <li><a href="javascript:;" class="">
      		<span class="pull-right">in progress <i class="fa fa-clock-o text-warning"></i></span>
      		<h4><i class="fa fa-user"></i> Basic Trial 005</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="pie">2/3</span></span></p>
      	</a></li>
      <li><a href="javascript:;" class="">
      		<span class="pull-right">not started <i class="fa fa-minus-circle text-danger"></i></span>
      		<span class="label label-danger">Hurry! Trial ends in 5 days!</span>
      		<h4><i class="fa fa-user"></i> Basic Trial 006</h4>
      		<p>Semiotics meh food truck art party post-ironic…</p>
      	</a></li>
      <li><a href="javascript:;" class="">
      		<span class="pull-right">in progress <i class="fa fa-clock-o text-warning"></i></span>
      		<h4><i class="fa fa-group"></i> Basic Trial 007</h4>
      		<p>Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
      	</a></li>
    </ul>
	  <a href="#" class="load-more">Load More <span class="caret"></span></a>
  </div>
  <div class="col-sm-8">
    <h2>Basic Trial 002</h2>
  </div>
</div>

