<% # We need Flot
	content_for :javascript_includes do %>
  <%= javascript_include_tag "page-specific/dashboard" %>
<% end %>

<header class="page-header">
	<h1><%= @title %></h1>
</header>

<section class="row-fluid">
	<div class="span4">
		<div class="big_stats well">
			<h4>Pending Sales Today</h4>
			<span class="value">12</span><br>
			<span class="view_all"><a href="#">View All Pending Sales</a></span>
		</div>
	</div>
	<div class="span4">
		<div class="big_stats well">
			<h4>Completed Sales Today</h4>
			<span class="value">23</span><br>
			<span class="view_all"><a href="javascript:;">View All Completed Sales</a></span>
		</div>
	</div>
	<div class="span4">
		<div class="big_stats well">
			<h4>Returned Items Today</h4>
			<span class="value">2</span><br>
			<span class="view_all"><a href="javascript:;">View Returned Items</a></span>
		</div>
	</div>
</section>


<section class="row-fluid">
	
		<div class="span6">
			<div class="widget widget-graph">
				<div class="widget-head">
					<a href="#" id="lines" class="btn tooltips active pull-left" rel="tooltip" data-placement="top" data-original-title="Line Graph"><i class="icon-adjust"></i></a>	
					<a href="#" id="bars" class="btn tooltips pull-left" rel="tooltip" data-placement="top" data-original-title="Bar Graph"><i class="icon-bar-chart"></i></a>						
					<h5 class="pull-left">Line vs. Bar Graph</h5>
				</div>
				
				<div class="graph-padding">
			    <div class="graph-container">
			        <div id="graph-lines"></div>
			        <div id="graph-bars"></div>
			    </div>					
				</div>
		
			</div>
		</div> <!-- .span6 -->
		
		<div class="span6">
			<div class="widget widget-graph">
				<div class="widget-head">
					<h5>Pie Chart</h5>
				</div>
				<div class="graph-padding">
					<div class="graph-container">
			        <div id="graph-pie"></div>
					</div>
				</div>
			</div>
		</div> <!-- .span6 -->
</section>

<section class="row-fluid">
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Top Referrers</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="http://google.com">http://google.com</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://yahoo.com">http://yahoo.com</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://themeforest.net">http://themeforest.net</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://codecanyon.net">codecanyon.net</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://madebyamp.com">http://madebyamp.com</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Most Visited Pages</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="javascript:;">Carbon Admin</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Mega Dropdown</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">DropUI Buttons</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Azure Admin</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">NoticeUI</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Browser</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description">Firefox</td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description">Chrome</td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description">Internet Explorer</td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description">Safari</td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description">Opera</td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
</section>