<div class="page-header">
	<header>
		<h1><%= @title %></h1>
	</header>
	
	<%= render "navigation/ui_elements_breadcrumbs" %>

</div>

<div class="row">
	
	<div class="col-sm-8 col-sm-offset-2">
		<form class="form-horizontal">
	  	<div class="form-group">
		    <label class="col-sm-4 control-label" for="input">Label text for input</label>
		    <div class="col-sm-8">
		    	<input class="form-control" type="text" id="input" placeholder="Input text">
		    </div>
	  	</div>
	  
			<div class="form-group">
		    <label class="col-sm-4 control-label" for="prepend">Prepend text</label>
		    <div class="col-sm-8">
		      <div class="input-group">
					  <span class="input-group-addon">@</span>
					  <input class="form-control" id="prepend" type="text">
					</div>
					<p class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</p>
		    </div>
		  </div>
	
			<div class="form-group">
		    <label class="col-sm-4 control-label" for="append">Append text</label>
		    <div class="col-sm-8">
		      <div class="input-group">
					  <input class="form-control" id="append" type="text">
					  <span class="input-group-addon">.00</span>
					</div>
		    </div>
		  </div>
	
			<div class="form-group">
		    <label class="col-sm-4 control-label" for="appendedPrependedInput">Append &amp; Prepend text</label>
		    <div class="col-sm-8">
					<div class="input-group">
					  <span class="input-group-addon">$</span>
					  <input class="form-control" id="appendedPrependedInput" size="16" type="text">
					  <span class="input-group-addon">.00</span>
					</div>
		    </div>
		  </div>
	
			<div class="form-group">
				<label class="col-sm-4 control-label" for="appendedInputButton">Append with Button</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					  <input class="form-control" id="appendedInputButton" type="text">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label">Checkboxes</label>
				<div class="col-sm-8">
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
					</label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label">Radio Buttons</label>
				<div class="col-sm-8">
					<label class="radio-inline">
					  <input type="radio" id="inlineradio1" value="option1"> 1
					</label>
					<label class="radio-inline">
					  <input type="radio" id="inlineradio2" value="option2"> 2
					</label>
					<label class="radio-inline">
					  <input type="radio" id="inlineradio3" value="option3"> 3
					</label>

				</div>
			</div>	
		
			<div class="form-group">
				<label class="col-sm-4 control-label" for="focusedInput">Focused input</label>
				<div class="col-sm-8">
					<input class="form-control" id="focusedInput" type="text" value="This is focused..."  autofocus="autofocus">
				</div>
			</div>
		
			<div class="form-group">
				<label class="col-sm-4 control-label" for="textArea">Text area</label>
				<div class="col-sm-8">
					<textarea class="form-control" rows="3"></textarea>
				</div>
			</div>
		
			<div class="form-group">
				<label class="col-sm-4 control-label" for="disabledInput">Disables input</label>
				<div class="col-sm-8">
					<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
				</div>
			</div>
		
			<div class="form-group has-warning">
			  <label class="col-sm-4 control-label" for="inputWarning">Input with warning</label>
			  <div class="col-sm-8">
			    <input class="form-control" type="text" id="inputWarning">
			    <p class="help-block">Something may have gone wrong</p>
			  </div>
			</div>
		
			<div class="form-group has-error">
			  <label class="col-sm-4 control-label" for="inputError">Input with error</label>
			  <div class="col-sm-8">
			    <input class="form-control" type="text" id="inputError">
			    <p class="help-block">Please correct the error</p>
			  </div>
			</div>
		
			<div class="form-group has-success">
			  <label class="col-sm-4 control-label" for="inputSuccess">Input with success</label>
			  <div class="col-sm-8">
			    <input class="form-control" type="text" id="inputSuccess">
			    <p class="help-block">Woohoo!</p>
			  </div>
			</div>
		
			<div class="form-group">
				<label class="col-sm-4 control-label">Select</label>
				<div class="col-sm-8">
					<select class="form-control">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-4 control-label">On/Off Switch</label>
				<div class="col-sm-8 switch">
					  <input class="form-control" type="checkbox">
				</div>
			</div>
			
			<div class="form-group">
		    <div class="col-sm-8 col-sm-offset-4">
		      <button type="submit" class="btn btn-primary">Save Changes</button>
				  <button type="button" class="btn btn-default">Cancel</button>
		    </div>
		  </div>
		
		</form>
		
	</div>
	
</div>
