<div class="page-header">
	<header>
		<h1><%= @title %></h1>
	</header>
	
	<%= render "navigation/ui_elements_breadcrumbs" %>

</div>



<div class="row-fluid">
  <div class="span6">
		<h1>h1. Heading 1</h1>
		<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<h2>h2. Heading 2</h2>
		<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<h3>h3. Heading 3</h3>
		<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<h4>h4. Heading 4</h4>
		<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<h5>h5. Heading 5</h5>
		<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<h6>h6. Heading 6</h6>
		<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
	
	<div class="span6">
		<div class="widget">
			<div class="widget-head">
					<h5>Classes</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td><code>.lead</code></td>
						<td><span class="lead">Vivamus sagittis lacus vel augue laoreet rutrum.</span></td>
					</tr>
					<tr>
						<td><code>&lt;p&gt;</code></td>
						<td><p>Cum sociis penatibus et dis parturient, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p> <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p></td>
					</tr>
					<tr>
						<td><code>&lt;small&gt;</code></td>
						<td><small>This line of text is meant to be treated as fine print.</small></td>
					</tr>
					<tr>
						<td><code>&lt;strong&gt;</code></td>
						<td>The following snippet of text is <strong>rendered as bold text</strong>.</td>
					</tr>
					<tr>
						<td><code>&lt;em&gt;</code></td>
						<td>The following snippet of text is <em>rendered as italicized text</em>.</td>
					</tr>
					<tr>
						<td><code>.muted</code></td>
						<td><span class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</span></td>
					</tr>
					<tr>
						<td><code>.text-warning</code></td>
						<td><span class="text-warning">Etiam porta sem malesuada magna mollis euismod.</span></td>
					</tr>
					<tr>
						<td><code>.text-error</code></td>
						<td><span class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</span></td>
					</tr>
					<tr>
						<td><code>.text-info</code></td>
						<td><span class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</span></td>
					</tr>
					<tr>
						<td><code>.text-success</code></td>
						<td><span class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<hr>

<h2>Responsive Images</h2>
<div class="row-fluid">
  <div class="span4">
    <img src="http://placehold.it/600x200" >
  </div>
  <div class="span4">
    <img src="http://placehold.it/600x200">
  </div>
  <div class="span4">
    <img src="http://placehold.it/600x200">
  </div>
</div>
<br>
<div class="row-fluid">
  <div class="span4">
    <img src="http://placehold.it/300x200">
  </div>
  <div class="span4">
    <img src="http://placehold.it/200x300">
  </div>
  <div class="span4">
    <img src="http://placehold.it/600x200">
  </div>
</div>