<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Shoreditch plaid tattooed butcher American Apparel, Intelligentsia kogi locavore stumptown skateboard shabby chic aesthetic selfies.  Church-key DIY paleo hashtag swag, plaid jean shorts.  Organic mumblecore selvage dreamcatcher.</p>
  <p>
    <a class="btn btn-primary btn-lg">
      Learn more
    </a>
  </p>
</div>

<div class="row">
	<div class="col-sm-4">
		<div href="" class="thumbnail">
      <img class="img-thumbnail img-responsive" src="http://placehold.it/360x200" alt="">
			<div class="caption">
				<h3>Sample Admin Dashboard</h3>
				<p>Polaroid scenester farm-to-table pour-over ethical gluten-free.  Beard Echo Park Truffaut, DIY Cosby sweater occupy blog irony actually Williamsburg.</p>
        <p>
        	<a href="<%= dashboard_path %>" class="btn btn-default">Go to Dashboard</a>
        </p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div href="" class="thumbnail">
      <img class="img-thumbnail img-responsive" src="http://placehold.it/360x200" alt="">
			<div class="caption">
				<h3>Icons by FontAwesome</h3>
        <p>  Wes Anderson ethnic artisan, trust fund swag readymade sriracha XOXO hashtag Pinterest locavore ennui fap McSweeney's.  Retro kogi gastropub, typewriter tote bag authentic Terry Richardson 8-bit wolf tousled pop-up cornhole plaid semiotics.</p>
        <p>
        	<a href="<%= icons_path %>" class="btn btn-default">View the Icon List</a>
        </p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div href="" class="thumbnail">
      <img class="img-thumbnail img-responsive" src="http://placehold.it/360x200" alt="">
			<div class="caption">
				<h3>Complex Tables</h3>
        <p>  Butcher fashion axe mumblecore, ethnic Schlitz lo-fi meh semiotics raw denim asymmetrical kogi tote bag leggings cardigan.  Kogi High Life distillery YOLO.  Lomo yr selvage selfies.</p>
        <p>
        	<a href="<%= tables_path %>" class="btn btn-default">See the Different Table Options</a>
        </p>
			</div>
		</div>
	</div>
</div>