<!--
<div class="page-header">
	<header>
		<h1><%= @title %> <small>by Glyphfa fa through Bootstrap</small></h1>
	</header>
	
	<%= render "navigation/ui_elements_breadcrumbs" %>
	
</div>
-->

<div class="page-header">
	<header>
		<h1><%= @title %> <small>by <a href="http://fontawesome.io">FontAwesome</a></small></h1>
	</header>
	
	<%= render "navigation/ui_elements_breadcrumbs" %>
	
</div>


<div class="row">
	<div class="col-xs-12">
		<h2>See all Icons at <a href="http://fontawesome.io/icons">FontAwesome</a></h2>
	</div>
</div>