<header class="page-header">
	<h1>Components</h1>
</header>

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="http://www.placehold.it/1170x250" alt="">
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.placehold.it/1170x250" alt="">
      <div class="carousel-caption">
        <h4>Second Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item active">
      <img src="http://www.placehold.it/1170x250" alt="">
      <div class="carousel-caption">
        <h4>Third Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

<div class="row">
	<div class="span3">
		<div class="progress">
		  <div class="bar" style="width: 60%;"></div>
		</div>
		<div class="progress progress-striped">
		  <div class="bar" style="width: 20%;"></div>
		</div>
		<div class="progress progress-striped active">
		  <div class="bar" style="width: 40%;"></div>
		</div>
		<div class="progress">
		  <div class="bar bar-success" style="width: 35%;"></div>
		  <div class="bar bar-warning" style="width: 20%;"></div>
		  <div class="bar bar-danger" style="width: 10%;"></div>
		</div>
		<div class="progress progress-danger">
		  <div class="bar" style="width: 80%"></div>
		</div>
	</div>
	<div class="span3">
		<p>
			<a href="#" class="btn btn-large btn-danger popover-bottom" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-title="A Title">Click to toggle popover</a>
		</p>
		<p>
			<!-- Button to trigger modal -->
			<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>
		</p>
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal Heading</h3>
      </div>
      <div class="modal-body">
        <h4>Text in a modal</h4>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>

        <hr>

        <h4>Overflowing text to show optional scrollbar</h4>
        <p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
		<p>
			<a class="tooltips" href="#" rel="tooltip" data-placement="top" data-original-title="Tooltip on top">Tooltip on top</a>
		</p>
	</div>
</div>