<header class="page-header">
	<h1>Report</h1>
</header>

<h5>Check out: <a href="http://shopify.github.com/dashing/#widgets">Dashing</a></h5>

<section class="row-fluid">
	<div class="span4 big_stats">
		<h4>Pending Sales Today</h4>
		<span class="value">12</span>
		<span class="view_all"><a href="#">View All Pending Sales</a></span>
	</div>
	<div class="span4 big_stats">
		<h4>Completed Sales Today</h4>
		<span class="value">23</span>
		<span class="view_all"><a href="javascript:;">View All Completed Sales</a></span>
	</div>
	<div class="span4 big_stats">
		<h4>Returned Items Today</h4>
		<span class="value">2</span>
		<span class="view_all"><a href="javascript:;">View Returned Items</a></span>
	</div>
</section>


<section class="row-fluid">
	
		<div class="span6">
			
			<h2>Sales</h2>
			
			<table class="stats" data-chart="bar">
						<caption>2008/2009/2010 Sales by industry (Million)</caption>
						<thead>
							<tr>
								<td class="no_input">&nbsp;</td>
								<th>Banking</th>
								<th>Beauty</th>

								<th>Insurance</th>
								<th>Internet</th>
								<th>Media</th>
							</tr>

						</thead>
						
						<tbody>
							<tr>
								<th>2008</th>
								<td>2</td>
								<td>7</td>
								<td>8</td>
								<td>5</td>
								<td>6</td>
							</tr>
							<tr>
								<th>2009</th>
								<td>5</td>
								<td>6</td>
								<td>4</td>
								<td>7</td>
								<td>9</td>
							</tr>
							
							<tr>
								<th>2010</th>
								<td>12</td>
								<td>15</td>
								<td>13</td>
								<td>11</td>
								<td>13</td>
							</tr>	
						</tbody>
					</table>
			
		</div> <!-- .span6 -->
		
		
		
		
		<div class="span6">
			
			<h2>Sales</h2>
			
			<table class="stats" data-chart="area">
						<caption>2009/2010 Sales by industry (Million)</caption>
						<thead>
							<tr>
								<td class="no_input">&nbsp;</td>
								<th>Banking</th>
								<th>Beauty</th>

								<th>Insurance</th>
								<th>Internet</th>
								<th>Media</th>
							</tr>

						</thead>
						
						<tbody>
							<tr>
								<th>2009</th>
								<td>12</td>
								<td>15</td>
								<td>13</td>
								<td>11</td>
								<td>13</td>
							</tr>
							
							<tr>
								<th>2010</th>
								
								<td>5</td>
								<td>6</td>
								<td>4</td>
								<td>7</td>
								<td>9</td>
							</tr>	
						</tbody>
					</table>
			
		</div> <!-- .span6 -->
</section>		

<section class="row-fluid">
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Top Referrers</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="http://google.com">http://google.com</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://yahoo.com">http://yahoo.com</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://themeforest.net">http://themeforest.net</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://codecanyon.net">codecanyon.net</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://madebyamp.com">http://madebyamp.com</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Most Visited Pages</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description"><a href="javascript:;">Carbon Admin</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Mega Dropdown</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">DropUI Buttons</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Azure Admin</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">NoticeUI</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-head">
				<h5>Browser</h5>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td class="description">Firefox</td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description">Chrome</td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description">Internet Explorer</td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description">Safari</td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description">Opera</td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
</section>