<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"><%= fa_icon "times" %></button>
	<strong>Warning!</strong> This alert is dismissable.
</div>