<figure>
	<blockquote cite="http://trentwalton.com/2012/06/19/fluid-type">
		<p>Embracing the fluid &amp; flexible aspect of responsive web design was an easy decision, but I’ve been less sure-footed when it comes to balancing that with setting type on the web</p>
	</blockquote>
	<figcaption>
		<cite><small><a href="http://trentwalton.com/2012/06/19/fluid-type">Trent Walton</a></small></cite>
	</figcaption>
</figure>