<div class="btn-group">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Single Button <span class="caret"></span>
	</button>
  <%= render "will-style/elements/dropdown_menu" %>
</div>