<div class="btn-group">
	<button class="btn btn-default">Split Button</button>
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<%= render "will-style/elements/dropdown_menu" %>
</div>