<div class="card">
	<div class="card_header">
		<h2>Optional Header</h2>
	</div>
	<div class="card_body">
		<p>Portland authentic asymmetrical, PBR slow-carb gastropub Thundercats swag street art vinyl food truck.  Distillery ethical mixtape viral Kickstarter keffiyeh swag DIY.</p>
	</div>
	<div class="card_footer actions">
		<a href="" class="button secondary">Action 1</a>
		<a href="" class="button secondary right">Action 2</a>
	</div>
</div>