<ul class="dropdown-menu" role="menu">
	<li role="presentation" class="dropdown-header">Dropdown header</li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
	<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	<li role="presentation" class="divider"></li>
	<li role="presentation" class="dropdown-header">Dropdown header</li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
</ul>