<form action="search" class="search-form">
	<div class="form-group has-feedback">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon "cog" %></button>
				<ul class="dropdown-menu">
					<li class="active"><a href="#">Search in Style Guide</a></li>
					<li><a href="#">Search Whole Site</a></li>
				</ul>
			</div>
			<label class="sr-only" for="search">search&hellip; in Style Guide</label>
			<input type="search" class="form-control" id="search" placeholder="search&hellip; in Style Guide">
			<button type="submit" class="sr-only">Search</button>
		</div>
		<%= fa_icon "search", class: "form-control-feedback text-muted" %>
	</div>
</form>