<form action="search" class="search-form">
	<div class="row collapse">
	  <div class="small-1 columns">
	    <a href="#" class="button secondary prefix" data-dropdown="search-drop"><%= fa_icon "cog" %></a>
	  </div>
	  <div class="small-9 columns">
	    <input type="search" placeholder="search ... in Project">
	  </div>
	  <div class="small-2 columns">
	    <button class="secondary postfix" type="submit"><%= fa_icon "search", class: "text-primary" %> <span class="hide">Search</span></button>
	  </div>
    <ul id="search-drop" class="f-dropdown" data-dropdown-content>
		  <li><a href="#">Search in Project</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Search whole Site</a></li>
		</ul>
	</div>
</form>