<div class="row collapse">
  <div class="small-9 columns">
    <input type="text" placeholder="Search Term">
  </div>
  <div class="small-3 columns">
		<a href="#" class="button split postfix">Split Button <span data-dropdown="drop"></span></a><br>
  </div>
</div>