<div class="input-group">
	<input type="text" class="form-control">
	<div class="input-group-btn">
		<button type="button" class="btn btn-default">Action</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<%= render "will-style/elements/dropdown_menu" %>
	</div>
</div>