<div class="row collapse">
  <div class="small-1 columns">
    <span class="prefix">$</span>
  </div>
  <div class="small-10 columns">
    <input type="text" placeholder="enter dollar amount">
  </div>
  <div class="small-1 columns">
    <span class="postfix">.00</span>
  </div>
</div>