<nav class="navbar navbar-default will-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex3">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="#"><img src="/assets/will-style/logo-w80.png" alt="WILL"> apps</a>
		</div>
		<div class="collapse navbar-collapse" id="ex3">
			<ul class="nav navbar-nav navbar-right">
				<%= render "will-style/elements/navs_list_items" %>
				<li class="dropdown user-nav">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <strong>First Name</strong> <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="#">Admin</a></li>
						<li><a href="#">Account Settings</a></li>
						<li><a href="#">Log out</a></li>
					</ul>
				</li>
				<li class="dropdown user-nav-image">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://www.gravatar.com/avatar/00000000000000000000000000000000.png?s=32" alt="..." wdith="32px" height="32px" class="img-rounded"> <strong>First Name</strong> <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="#">Admin</a></li>
						<li><a href="#">Account Settings</a></li>
						<li><a href="#">Log out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>