<div class="panel panel-default">
	<div class="panel-heading panel-heading-buttons clearfix">
		<a class="btn btn-default active pull-left"><%= fa_icon "adjust" %></a>	
		<a class="btn btn-default pull-left"><%= fa_icon "bar-chart-o" %></a>						
		<h5 class="panel-title pull-left">I'm a Panel!</h5>
	</div>
	<div class="panel-body">
		<p>With all the trimmings.</p>
	</div>
	<div class="panel-footer">Including a footer!</div>
</div>