<div class="progress stacked">
	<span class="meter alert"   style="width: 30%" data-tooltip aria-haspopup="true" title="3 Not Started"></span>
	<span class="meter warning" style="width: 50%" data-tooltip aria-haspopup="true" title="5 In Progress"></span>
	<span class="meter success" style="width: 20%" data-tooltip aria-haspopup="true" title="2 Finished"></span>
</div>