/* 
// 
// SAFFOLDING
// 
*/


// Body reset
// -------------------------

// body reset height
html, body {
	height: 100%;
}
	
body {
/* 	background-image: url('body_bg.png'); */
}


// Images
// -------------------------
 
// Add shadow to thumbnail style images
.img-thumbnail {
	background: $white;
  @include box-shadow(0 3px 3px rgba(0,0,0,.1));
}


// Horizontal Rules
// -------------------------

// creating a dark hr
hr.dark {
	border-top-color: #ddd;
}

hr.double {
	border-top: $double-border;
	border-bottom: none;
}

hr.short {
  margin: $line-height-base/2 0;
}

hr.shorter {
  margin: 0;
}