<form role="form">
	<label for="exampleInputEmail1">Email address
		<input type="email" id="exampleInputEmail1" placeholder="Enter email">
	</label>
	<label for="exampleInputPassword1">Password
		<input type="password" id="exampleInputPassword1" placeholder="Password">
	</label>
  <label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Remember Me</label>
  </label>
	<h5 class="blocked-button collapsed">
		<%= submit_tag "SUBMIT", id: "submit", class: "contact sans" %>
	</h5>
</form>