<ul class="pagination">
	<li class="arrow"><a href="/#">&laquo;</a></li>
	<li><a href="#">1</a></li>
	<li class="unavailable"><a href="#">&hellip;</a></li>
	<li class="current"><a href="#">4</a></li>
	<li class="unavailable"><a href="#">&hellip;</a></li>
	<li><a href="#">22</a></li>
	<li class="arrow"><a href="#">&raquo;</a></li>
</ul>