<button type="button" class="btn btn-default" 
	data-container="body" 
	data-toggle="popover" 
	data-placement="right" 
	data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
	data-original-title="Popover" 
	title="">
	Popover on right
</button>