/* 
// 
// COLOR TEST
// 
*/

.color-test {
	width: 60px;
	height: 60px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: #ff0;
	@include box-shadow(0 2px 2px rgba($black, .2));
	&.blue { background: $blue; }
/*
	&.blue.lighter { background: $blueLight; }
	&.blue.darker { background: $blueDark; }
	&.blue.opaque { background: $blueOpaque; }
*/

	&.green { background: $green; }
/*
	&.green.lighter { background: $greenLight; }
	&.green.darker { background: $greenDark; }
	&.green.opaque { background: $greenOpaque; }
*/
	
	&.yellow { background: $yellow; }
/*
	&.yellow.lighter { background: $yellowLight; }
	&.yellow.darker { background: $yellowDark; }
	&.yellow.opaque { background: $yellowOpaque; }
*/
	
	&.orange { background: $orange; }
/*
	&.orange.lighter { background: $orangeLight; }
	&.orange.darker { background: $orangeDark; }
	&.orange.opaque { background: $orangeOpaque; }
*/
	
	&.red { background: $red; }
/*
	&.red.lighter { background: $redLight; }
	&.red.darker { background: $redDark; }
	&.red.opaque { background: $redOpaque; }
*/
	
	&.pink { background: $pink; }
/*
	&.pink.lighter { background: $pinkLight; }
	&.pink.darker { background: $pinkDark; }
	&.pink.opaque { background: $pinkOpaque; }
*/
	
	&.purple { background: $purple; }
/*
	&.purple.lighter { background: $purpleLight; }
	&.purple.darker { background: $purpleDark; }
	&.purple.opaque { background: $purpleOpaque; }
*/
	
	&.white { background: $white; }
	&.grayLighter { background: $gray-lighter; }
	&.grayLight { background: $gray-light; }
	&.gray { background: $gray; }
	&.grayDark { background: $gray-dark; }
	&.grayDarker { background: $gray-darker; }
	&.black { background: $black; }
}
