<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  
  <%= stylesheet_link_tag "ink", media: "all" %>

  <style type="text/css">
		
    h3, table.callout {
	    padding-bottom: 30px;
    }
    
    .header .container, .header .container img {
	    background-color: #444444;
	    color: #ffffff;
	  }
	  .header .container td.wrapper {
		  padding-left: 10px;
		  padding-right: 10px;
	  }
	  .template-label {
	    color: #ffffff;
	    text-transform: uppercase;
    }
    
  </style>
  
</head>

<body>
  <table class="body">
    <tbody><tr>
      <td valign="top">
        <center>

          <table class="row header">
            <tbody><tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tbody><tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tbody><tr>
                            <td class="six sub-columns">
                              <img alt="WILL" src="http://content.willinteractive.com/img/logos/new_will_logo_32.png">
                            </td>
                            <td class="six sub-columns last" style="text-align:right; vertical-align:bottom;">
                              <span class="template-label">Access</span>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </tbody></table>

                      </td>
                    </tr>
                  </tbody></table>

                </center>
              </td>
            </tr>
          </tbody></table>

          <table class="container">
            <tbody><tr>
              <td>

                <table class="row">
                  <tbody><tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tbody><tr>
                          <td>
                            <h3>Hi, Susan Calvin</h3>
                            <p class="lead">Here is access to <em>The Anatomy of Care</em>.</p>
                            <p class="lead">Feel free to contact me to chat further about this product or any additional products you might be interested in. I would love to hear your feedback.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </tbody></table>

                    </td>
                  </tr>
                </tbody></table>

                <table class="row callout">
                  <tbody><tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tbody><tr>
                          <td class="center panel">
                          	<table class="medium-button">
														  <tr>
														    <td>
														      <a style="display:block" href="#">Access Now</a>
														    </td>
														  </tr>
														</table>
                            <center>
                            	<br>
                            	or copy this link:
                            	<br>
															http://access.dev/mail-test
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </tbody></table>

                    </td>
                  </tr>
                </tbody></table>
                
                <table class="row">
                  <tbody><tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tbody><tr>
                          <td>
                            <p class="lead">Best, <br>
	                            <strong><em>Staff Name</em></strong>
                            </p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </tbody></table>

                    </td>
                  </tr>
                </tbody></table>
                
                
                <table class="row">
		              <tbody><tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tbody><tr>
                          <td>
                            <hr>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </tbody></table>

                    </td>
                  </tr>
                </tbody></table>


                <table class="row">
                  <tbody><tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tbody><tr>
                          <td align="center">
                            <center>
                              <p style="text-align:center;"><a href="http://willinteractive.com">WILL Interactive</a> | 10000 Falls Road, Potomac MD 20854 | 301-983-6006 | <a href="#">Unsubscribe</a></p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </tbody></table>

                    </td>
                  </tr>
                </tbody></table>

              <!-- container end below -->
              </td>
            </tr>
          </tbody></table>

        </center>
      </td>
    </tr>
  </tbody></table>

</body></html>