<footer id="footer" class="container-fluid">
	<div class="row">
		<div class="col col-sm-12">
			<p class="text-center"><small>&copy;<%= Time.now.year %> <i class="will-icon-will_logo"></i></small></p>
		</div>
	</div>
</footer>
