<footer class="footer container-fluid bg-dark">
	<div class="row">
		<div class="col col-sm-12">
			<p class="text-center text-light"><small>&copy;<%= Time.now.year %> <i class="will-icon-will_logo"></i></small></p>
		</div>
	</div>
</footer>
