<footer class="footer container-fluid bg-dark d-flex align-items-center justify-content-center <%= defined?(root_classes) ? root_classes : "" %>">
	<p class="text-center text-light pt-4 pb-4"><small>&copy;<%= Time.now.year %> <i class="will-icon-will_logo"></i></small></p>
</footer>
