								
								<!-- Footer -->
								<table class="row">
									<tbody><tr>
										<td class="wrapper last">

											<table class="twelve columns">
												<tbody><tr>
													<td>
														<hr>
													</td>
													<td class="expander"></td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>

								<table class="row">
									<tbody><tr>
										<td class="wrapper last">

											<table class="twelve columns">
												<tbody><tr>
													<td align="center">
														<center>
															<p style="text-align:center;"><a href="http://willinteractive.com">WILL Interactive</a> | 10000 Falls Road, Potomac MD 20854 | 301-983-6006 

															<% if defined?(unsubscribe_link) %>
															| <%= link_to "Unsubscribe", unsubscribe_link %>
															<% end %>
															</p>
														</center>
													</td>
													<td class="expander"></td>
												</tr>
											</tbody></table>

										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</center>
			</td>
		</tr>
	</tbody></table>
</body></html>
