@media (max-width: 480px) {

	.admin #content {
			margin-left: 0 !important;
			border-left: none;
	}
	#user-btn-group .btn:first-child span {
		display: none;
	}
	#sidebar {
		float: none;
		width: 100% !important;
		& > .btn {
			border-left-width: 0;
			border-right-width: 0;
		}
		& > ul {
			display: none;
			margin: 0 !important;
			width: 100% !important;
			box-shadow: 0 6px 6px rgba(0,0,0,0.3);
			background: #efefef;
		}
	}
}

@media (min-width: 480px) and (max-width: 978px){
	// no padding on body
	body.admin { padding: 0px; }
}

@media (max-width: 767px) {
	body.admin {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 481px) and (max-width: 970px) {

	.admin #content {
		margin-left: 50px;
	}
	#sidebar, #sidebar > ul {
		width: 50px;
		display: block !important;
	}
	
	#sidebar {
		& > a { display: none !important;	}
		// first list
		& > ul li {
			// remove text and carets from view
			.btn { 
				span 	 { display: none;	}
				.caret { display: none; }
			}
		}

		// second list (dropdown)		
		& > ul ul {
			position: absolute;
			left: 54px;
			top: 5px;
			min-width: 150px;
			@include box-shadow(0 1px 5px rgba(0,0,0,0.3));
			@include border-radius(5px);	
			border: 1px solid $grayLighter;
			li a {
				white-space: nowrap;
			}
			li:last-child a {
				border-bottom: 0px;
			}
			&:before {
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				content: "";
				display: inline-block;
				left: -6px;
				position: absolute;
				top: 11px;
				border-right: 6px solid #bbb;
			}
			&:after {
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				content: "";
				display: inline-block;
				left: -5px;
				position: absolute;
				top: 12px;
				border-right: 6px solid #fefefe;
		  }
		}
	}
	
}