<div data-rotating-computer>
	<div data-rotating-computer-part data-rotating-computer-screen></div>
	<div data-rotating-computer-part data-rotating-computer-screen></div>
	<div data-rotating-computer-part data-rotating-computer-screen></div>
	<div data-rotating-computer-part data-rotating-computer-screen></div>
	<div data-rotating-computer-part data-rotating-computer-screen></div>
	<div data-rotating-computer-part data-rotating-computer-base></div>
</div>
