///
/// DASHBOARD
///

.dashboard-row-header {
  margin-top: $baseLineHeight;
  
	h2 {
		text-transform: uppercase;
		font-weight: normal;
	}
	
	div.span10 {
  	position: relative;
  	top: 15px;
  	@media (max-width: 767px) {
  		top: 0;
  	}
	}
	
	.btn {
		@include box-shadow(none);
		background: none;
		filter: none;
/* 		@include opacity(70); */
	}
	
	button[data-toggle="button"] {
  	i.icon-arrow-up {
    	display: none;
  	}
  	&.active {
    	i.icon-arrow-up {
      	display: inline-block;
    	}
    	i.icon-arrow-down {
      	display: none;
    	}
  	}
	}
	
	input[type="search"] {
		background: transparent;
		&:focus { background: $white; }
  	@media (max-width: 767px) {
    	width: 120px;
    }
	}
	
	&+hr {
		margin: 0;
	}
}

table.dashboard-row-table {
	margin-bottom: 0;
	background: none;
	tr.expired td {
		@include opacity(50);
	}
	tr:last-child td {
  	border-bottom: none;
	}
	td {
		padding: $baseLineHeight 0;
		padding-left: $baseLineHeight;
		border-bottom: 1px solid $grayLighter;
		&:nth-child(2) {
			min-width: 160px;
		}
		&:first-child {
			padding-left: 0;
			.btn {
				margin-top: $baseLineHeight / 2;
			}
		}
	}
	h3 {
		margin: 0 0 10px 0;
		line-height: $baseLineHeight;
	}
	.unit {
		display: inline-block;
		margin-bottom: 0;
		width: 30px;
		text-align: right;
	}
	p, .alert {
		margin: 0;
	}
  p {
	  margin-bottom: $baseLineHeight / 2;
	  &:last-child {
  	  margin-bottom: 0;
	  }
  }
	.alert {
		padding-right: 13px;
	}
	.peity {
		text-align: center;
	}
	td[colspan="2"] {
  	.btn {
    	text-align: left;
    	padding-left: 5px;
    	padding-right: 5px;
    	span {
      	text-transform: uppercase;
    	}
  	}
  }
  
	&+p {
  	position: relative;
  	top: -10px;
  	padding-left: 10px;
		&+hr {
    	margin-top: 0;
  	}
	}
}
table.dashboard-row-table.table-selectable tbody:hover tr {
	&:active, &:focus {
		td {
			background: rgba($grayLighter, .2);	
		}
	}
}

