// DATATABLES
// -----------------
.dataTable {
	width: 100% !important;
}

// extras like filter + length
.dataTables_extras_top, .dataTables_extras_bottom {
	@extend .clearfix;
	font-size: .85em;
	label {
		font-size: 1em;
	}
}
div.dataTables_filter label, div.dataTables_length label  {
	float: none;
}
div.dataTables_length {
	float: right;
}
div.dataTables_filter {
	float: left;
}
.dataTables_info {
	margin-bottom: 10px;
	@include opacity(50);
	float: left;
}
.dataTables_paginate {
	float: right;
	ul {
		@include box-shadow(none);
	}
}

// --- ColVis & TableTools (DataTables Extras)
	// The containers
	.dataTables_buttons { text-align: right; }
	.DTTT_container, .ColVis {
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
	.DTTT_container > .DTTT_button, .ColVis_MasterButton { margin-left: 10px; }
	// make the dropdowns look like the bootstrap dropdowns
	.ColVis_collection, .DTTT_collection {
		padding: 5px 0;
		background-color: $dropdownBackground;
		border: 1px solid #ccc;
	  border: 1px solid $dropdownBorder;
	  *border-right-width: 2px;
		*border-bottom-width: 2px;
	  @include border-radius(6px);
	  @include box-shadow(0 5px 10px rgba(0,0,0,.2));
	  @include background-clip(padding-box);
		button, a {
			text-decoration: none;
			border: none;
			background: none;
			text-align: left;
			width: 100% !important;
			display: block;
	    padding: 3px 20px;
	    clear: both;
	    font-weight: normal;
	    line-height: $baseLineHeight;
	    color: $dropdownLinkColor;
	    white-space: nowrap;
			&:hover, &:focus {
				text-decoration: none;
			  color: $dropdownLinkColorHover;
			  background-color: $dropdownLinkBackgroundHover;
			  @include gradient-vertical($dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
			}
			.ColVis_radio {
				margin-right: 10px;
			}
		}
	}
	// the background color of the overlay when the dropdown shows
	.ColVis_collectionBackground, .DTTT_collection_background {
		background-color: $black;
	}
	// specific styles for the TableTools collection because of the weird EMBED stuff
	.DTTT_collection {
		width: 110px;
		overflow: hidden;
	 	a.DTTT_button {
			position: relative;
			display: block;
			embed { 
				outline: none;
			}
		}
		a.DTTT_disabled {
			@include opacity(25);
		}	
	}
	// The modal that pops up when you press the print from TableTools
	.DTTT_print_info {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 400px;
		margin-left: -200px;
		margin-top: -75px;
		text-align: center;
		padding: 10px 30px;
		@include gradient-vertical($white, darken($white, 5%));
		@include opacity(95);
		border: 1px solid rgba($grayDark, 0.5);
		@include border-radius(6px);
		@include box-shadow(0 3px 7px rgba($black, 0.5));
		h6 {
			@extend h2;
		}
	}


// Change sorting arrows to FontAwesome (if not IE targeted by flexbox)
.flexbox .table-sortable thead th {
	// change colors of sortable headers based on state
	&.sorting,
	&.sorting_disabled,
	&.sorting_asc_disabled,
	&.sorting_desc_disabled { 
		color: $gray;
	}
	&.sorting_asc,
	&.sorting_desc {
		color: $textColor;
	}
	&.sorting,
	&.sorting_asc,
	&.sorting_desc {
		background-image: none;
		padding-right: 22px;
		&::after {
			font-family: FontAwesome;
			content: "\f0dc";
			float: right;
			margin-right: -12px;
			@include opacity(50);
		}
	}	
	&.sorting_asc::after,
	&.sorting_asc:hover::after {
		content: "\f0de";
		@include opacity(80);
	}
	&.sorting_desc::after,
	&.sorting_desc:hover::after {
		content: "\f0dd";
		@include opacity(80);
	}
}
