//
// Widgets
// --------------------------------------------------

.widget {
	background: $widgetBackground;
	border: 1px solid $widgetBordersColor;
	@include box-shadow(0 2px 2px rgba($widgetBordersColor, .5));
	margin-bottom: 20px;
	position: relative;
}

// The header
.widget-head {
	display: table;
	clear: both;
	width: 100%;
	@include gradient-vertical ($white, #f0f0f0);
	border-bottom: 1px solid $widgetBordersColor;
	@include box-shadow(0 1px 0 $white inset);
	text-shadow: 0 1px $white;
	h5 {
		padding: 10px 14px;
		margin: 0;
	}
	.btn {
		border: none;
		background: transparent;
		@include border-radius(0px);
		padding: 10px 12px;
		border-right: 1px solid #d4d4d4;
		text-align: center;
	}
}

// Normal content
.widget-content {
	padding: 10px 14px;
}

// DataTables content
.widget {
	.dataTables_extras_top {
		border-bottom: 1px solid $widgetBordersColor;
		padding: 13px 20px 7px;
	}
	.dataTables_buttons {
		position: absolute;
		top: 0;
		right: 0;
	}
	// Put the extra buttons in the widget header
	.DTTT_container > .DTTT_button, .ColVis_MasterButton {
		padding-top: 10px;
		padding-bottom: 10px;
		background: transparent;
		border-width: 0 0 0 1px;
		margin-left: 0;
		@include border-radius(0);
		span {
			display: none;
		}
	}
}

// Remove borders and extra margin from table content
.widget table { margin-bottom: 0px !important; }
.widget .table-bordered {
	border: none;
	td, th { 
		border-left: 1px solid #ddd;
		&:first-child {	border-left: none; }
	}
}

// Footer
.widget-footer, .widget .dataTables_extras_bottom {
	@include gradient-vertical ($white, #f0f0f0);
	border-top: 1px solid $widgetBordersColor;
	padding: 0 20px;
	& > div {
		margin: 10px 0 2px;
	}		
}
.widget-footer { 
	padding-bottom: 8px;
}


// Big Stats
// -------------------------

.big_stats {
	text-align: center;
	h4 { margin: 0; }
	&.well {
		padding: 10px;
	}
	.value {
		font-size: 4em;
		line-height: 1.2em;
		font-family: $headingsFontFamily;
		font-weight: $headingsFontWeight;
	}
}