<footer id="main-footer">
	<div class="row">
		<div class="small-12 columns">
			<p class="text-center text-secondary"><small>&copy;<%= Time.now.year %> WILL Interactive</small></p>
		</div>
	</div>
</footer>
