//
// Dashboard Sidebar ( Tracker )
//

#sidebar-header {
	margin-bottom: 0;
	
	.btn-group > .btn-large {
		@include box-shadow(none);
		border-color: transparent;
		background: none;
		font-weight: normal;
		font-size: 24px;
		filter: none;
		&:hover {
			border-color: $btnBorder;
		}
	}
	
	button[data-toggle="button"] {
  	i.icon-arrow-up {
    	display: none;
  	}
  	&.active {
    	i.icon-arrow-up {
      	display: inline-block;
    	}
    	i.icon-arrow-down {
      	display: none;
    	}
  	}
	}
}

#dashboard-sidebar {
  border-right: 1px solid $grayLighter;
  border-left: 1px solid $grayLighter;

	li > a {
		@include unStyleLink();
		@include clearfix();
		@include gradient-vertical(#f9f9f9,#eee);
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid $grayLighter;
		font-weight: normal;
    
    &>span {
	    text-transform: uppercase;
	    font-size: .8em;
	    i {
		    font-size: 14px;
	    }
    }
   	
   	&, h4>i {
   		color: $gray;
   	}
   	
   	h4>i {
	   	margin-left: 5px;
	   	font-size: 14px;
   	}
   	
    &.new {
    	padding-left: 10px;
    	border-left: 10px solid $blue;
		}
    
    &.active, &.active:hover, &.active:focus {
	    background: $grayDark;
	    &, h4>i {
		    color: rgba($white, .7);
	    }
	    h4 {
		    color: #fff;
	    }
    }
    
    &.expired {
	    @include opacity(50);
	    border-bottom-color: darken($grayLighter, 15%);
    }
    
    &:hover, &:focus {
	    @include opacity(100);
	    background: rgba($yellow, .1);
	    border-bottom-color: $grayLighter;
    }
  }
}

a.load-more {
  display: block;
  padding: 10px;
  text-align: center;
}