//
// Dashboard Sidebar ( Tracker )
//

#grid-header {
	
	.btn-group > .btn-large {
		@include box-shadow(none);
		border-color: transparent;
		background: none;
		font-weight: normal;
		font-size: 24px;
		filter: none;
		&:hover {
			border-color: $btnBorder;
		}
	}
	
	input[type="search"] {
		margin-right: 20px;
	}
	
	button[data-toggle="button"] {
  	i.icon-arrow-up {
    	display: none;
  	}
  	&.active {
    	i.icon-arrow-up {
      	display: inline-block;
    	}
    	i.icon-arrow-down {
      	display: none;
    	}
  	}
	}
}

#dashboard-grid {

	.well {
		@include clearfix();
		@include gradient-vertical(#f9f9f9,#eee);
    display: block;
		font-weight: normal;
 		color: $gray;
    
    &>span {
	    text-transform: uppercase;
	    font-size: .8em;
	    i {
		    font-size: 14px;
	    }
    }
   	
   	h2 {
	   	margin-top: 0;
	   	line-height: $baseLineHeight * 1.5;
   	}
   	h2>i {
/* 	   	margin-right: -15px; */
	   	color: $grayLight;
	   	font-size: .9em;
   	}
   	
   	p {
	   	clear: both;
	   	&:last-child {
		   	margin-bottom: 0;
	   	}
   	}
   	
   	.label {
	   	text-transform: uppercase;
   	}
   	
    &.new {
    	padding-left: 10px;
    	border-left: 10px solid $blue;
		}
    
    &.expired {
	    @include opacity(50);
    }
    
    &:hover, &:focus {
	    @include opacity(100);
	    background: rgba($yellow, .1);
    }
		@include unStyleLink();
  }
}