/* 
// 
// LABELS AND BADGES
// 
*/


.label,
.badge {
  font-weight: 700;
	letter-spacing: 1px;
}


// CUSTOM
// -------------------------

.label-choice {
	@include label-variant($choice);
}

.label-text {
	@include label-variant($text);
}

.label-video {
	@include label-variant($video);
}

// label that is block-level
.label-block {
	display: block;
	text-align: center;
}