// HTML MUST LOOK LIKE THIS:
//	<body>
//		<div id="wrap"></div>
//		<footer>
//			<p></p>
//		</footer>
//	</body>

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 80px;
}

footer p {
	display: block;
	height: 60px;
	background: $gray-lighter;
	margin: 0;
	line-height: 60px;
}