// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.the-icons {
	list-style-type: none;
	margin-left: 0;
	
	li {
		line-height: 42px;
		padding-left: 12px;
		font-size: 16px;
	}
}


/* Graph Container */
.graph-padding {
	padding: 11px;
}

.graph-container {
    position: relative;
    width: 100%;
    height: 300px;
}
 
.graph-container > div {
    position: absolute;
    width: inherit;
    height: inherit;
}
 
.graph-info {
    margin-bottom: 10px;
}

.yAxis .tickLabel:first-child {
	display: none;
}


/* Reports Page */
.big_stats {
	text-align: center;
	&.well {
		padding: 10px;
	}
	.value {
		font-size: 4em;
		line-height: 1em;
		font-family: "BebasNeueRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;;
	}
}
