// ---- Fonts ---- //
// // ---- Variables ---- //
// @import "bootstrap_overrides/variables";

// // ---- OVERRIDE Bootstrap ---- //
// @import "bootstrap_overrides/mixins";

// // Base CSS
// @import "bootstrap_overrides/type";
// @import "bootstrap_overrides/forms";
// @import "bootstrap_overrides/tables";

// // Components: common
// @import "bootstrap_overrides/sprites";
// @import "bootstrap_overrides/dropdowns";
// @import "bootstrap_overrides/wells";

// // Components: Buttons & Alerts
// @import "bootstrap_overrides/buttons";

// // Components: Nav
// @import "bootstrap_overrides/navs";
// @import "bootstrap_overrides/navbar";
// @import "bootstrap_overrides/breadcrumbs";
// @import "bootstrap_overrides/pagination";

// // Components: Misc
// @import "bootstrap_overrides/thumbnails";
// @import "bootstrap_overrides/labels-badges";
// @import "bootstrap_overrides/progress-bars";

// // Custom classes
// @import "custom_classes/dataTables";
// @import "custom_classes/widgets";
// @import "custom_classes/flot";
// @import "custom_classes/dashboard-rows";
// @import "custom_classes/dashboard-sidebar";
// @import "custom_classes/dashboard-grid";

// --------------------------------------------------
// Project Specific:
// --------------------------------------------------

.color-test {
	width: 60px;
	height: 60px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: #ff0;
	@include box-shadow(0 2px 2px rgba($black, .2));
	&.blue { background: $blue; }
	&.blue.lighter { background: $blueLight; }
	&.blue.darker { background: $blueDark; }
	&.blue.opaque { background: $blueOpaque; }

	&.green { background: $green; }
	&.green.lighter { background: $greenLight; }
	&.green.darker { background: $greenDark; }
	&.green.opaque { background: $greenOpaque; }
	
	&.yellow { background: $yellow; }
	&.yellow.lighter { background: $yellowLight; }
	&.yellow.darker { background: $yellowDark; }
	&.yellow.opaque { background: $yellowOpaque; }
	
	&.orange { background: $orange; }
	&.orange.lighter { background: $orangeLight; }
	&.orange.darker { background: $orangeDark; }
	&.orange.opaque { background: $orangeOpaque; }
	
	&.red { background: $red; }
	&.red.lighter { background: $redLight; }
	&.red.darker { background: $redDark; }
	&.red.opaque { background: $redOpaque; }
	
	&.pink { background: $pink; }
	&.pink.lighter { background: $pinkLight; }
	&.pink.darker { background: $pinkDark; }
	&.pink.opaque { background: $pinkOpaque; }
	
	&.purple { background: $purple; }
	&.purple.lighter { background: $purpleLight; }
	&.purple.darker { background: $purpleDark; }
	&.purple.opaque { background: $purpleOpaque; }
	
	&.white { background: $white; }
	&.grayLighter { background: $grayLighter; }
	&.grayLight { background: $grayLight; }
	&.gray { background: $gray; }
	&.grayDark { background: $grayDark; }
	&.grayDarker { background: $grayDarker; }
	&.black { background: $black; }
}

ul.the-icons {
	list-style-type: none;
	margin-left: 0;
	li {
		line-height: 42px;
		padding-left: 12px;
		font-size: 14px;
	}
}
 
// ---- IMPORT print styles ---- //
@import "print";
