<ol class="breadcrumb">
	<li>
		<%= link_to "Home", root_path %>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">UI elements <span class="caret"></span></a>
	  <ul class="dropdown-menu">
			<%= render 'navigation/general_links_list' %>
	  </ul>
	</li>
	<li><a class="active"><%= @title %></a></li>
</ol>