<div class="breadcrumb">
	<div class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	    UI elements
	    <span class="caret"></span>
			<span class="icon-chevron-right"></span>
	  </a>
	  <ul class="dropdown-menu">
			<%= render 'navigation/general_links_list' %>
	  </ul>
	</div>

	<a class="active"><%= @title %></a>
</div>