<% app = "" unless defined?(app) %>

<div class="contain-to-grid">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1>
						<a href="#"><%= image_tag "will-style/will_logo_20.png", title: "WILL" %> &ensp;<%= app %></a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#">
					<span>Menu</span>
				</a>
			</li>
		</ul>
		
	  <section class="top-bar-section">
	    <ul class="right">
	    	<li class="has-form">
				      <input type="text" placeholder="search in Project...">
				</li>
		  	<li><a href="#">Projects</a></li>
		  	<li><a href="#">Admin</a></li>
		  	<li class="divider"></li>
	      <li class="has-dropdown user-dropdown">
	        <a title="User Name" href="#"><span><%= image_tag "will-style/DefaultGravatar_64.png", width: "24" %> <span class="hide-for-medium-only">User Name</span></span></a>
	        <ul class="dropdown">
	          <%= render "will-style/partials/user_nav_list_items" %>
	        </ul>
	      </li>
	      <li class="divider"></li>
	    </ul>
	    <ul class="left">
		  	<li id="apps-dropdown" class="has-dropdown">
		  		<a href="#"><span class="text-success"><span class="show-for-small-only">More Apps</span>&nbsp;</span></a>
		  		<ul class="dropdown">
	          <li><a href="#">Launchpad</a></li>
	          <li><a href="#">Tracker</a></li>
	          <li><a href="#">Testbed</a></li>
	          <li><a href="#">Access</a></li>
		  		</ul>
		  	</li>
			</ul>
	  </section>
	</nav>
</div>