<header id="will-header" class="cd-header contain-to-grid">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<%= link_to root_path do %>
					<%= render "will-style/layouts/will_logo_svg" %>
				<% end %>
			</li>

			<li class="toggle-topbar">
				<a class="cd-primary-nav-trigger" href="">
					<span class="cd-menu-icon"></span>
				</a>
			</li>
		</ul>

		<div class="top-bar-section right">
			<%= render_navigation %>
		</div>
	</nav>
</header>

<nav class="cd-primary-nav">
	<%= render_navigation %>
</nav>
