<div id="sidebar">
	
	<h5 id="user-welcome" class="muted">Welcome, Admin Vivamus hendrerit arcu sed</h5>
	
	<ul id="user-btn-group">
		<li class="dropdown">
			<a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-user"></i><span>User</span>
			</a>
			<ul id="user-dropdown" class="resp-dropdown-menu">
				<li><a class="tooltips" href="#" rel="tooltip" data-placement="top" data-original-title="My Profile">
					<i class="icon-user"></i><span>My profile</span>
				</a></li>
				<li><a class="tooltips" href="#" rel="tooltip" data-placement="top" data-original-title="Messages">
					<i class="icon-inbox"></i><span>Messages</span> <span class="badge badge-danger">5</span>
				</a></li>
				<li><a class="tooltips" href="#" rel="tooltip" data-placement="top" data-original-title="Settings">
					<i class="icon-cogs"></i><span>Settings</span>
				</a></li>
				<li><a class="tooltips" href="#" rel="tooltip" data-placement="top" data-original-title="Logout">
					<i class="icon-signout"></i><span>Logout</span>
				</a></li>
			</ul>
		</li>
	</ul>

	<ul class="">
		<li><a class="btn btn-block" href="#"><i class="icon-dashboard"></i>&ensp;<span>Dashboard</span></a></li>
		<li class="dropdown">
			<a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-globe"></i>&ensp;<span>UI elements</span><b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#"><i class="icon-fullscreen"></i>&ensp;General elements</a></li>
				<li><a href="#"><i class="icon-picture"></i>&ensp;Icons</a></li>
				<li><a href="#"><i class="icon-reorder"></i>&ensp;Button sets</a></li>
				<li><a href="#"><i class="icon-th"></i>&ensp;Grid</a></li>
				<li><a href="#"><i class="icon-cog"></i>&ensp;Custom elements</a></li>
				<li><a href="#"><i class="icon-beaker"></i>&ensp;Experimental</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-edit"></i>&ensp;<span>Forms stuff</span><b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#"><i class="icon-list"></i>&ensp;Inputs &amp; elements</a></li>
				<li><a href="#"><i class="icon-warning-sign"></i>&ensp;Validation</a></li>
				<li><a href="#"><i class="icon-pencil"></i>&ensp;File uploader &amp; WYSIWYG</a></li>
				<li><a href="#"><i class="icon-magic"></i>&ensp;Form wizards</a></li>
			</ul>
		</li>
		<li><a class="btn btn-block" href="#"><i class="icon-bar-chart"></i>&ensp;<span>Statistics</span></a></li>
		<li class="dropdown">
			<a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-table"></i>&ensp;<span>Tables</span><b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#"><i class="icon-columns"></i>&ensp;Standard tables</a></li>
				<li><a href="#"><i class="icon-refresh"></i>&ensp;Dynamic table</a></li>
				<li><a href="#"><i class="icon-wrench"></i>&ensp;Tables with control</a></li>
				<li><a href="#"><i class="icon-resize-vertical"></i>&ensp;Sortable and resizable</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-plus-sign"></i>&ensp;<span>Other pages</span><b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#"><i class="icon-calendar"></i>&ensp;Calendar</a></li>
				<li><a href="#"><i class="icon-camera-retro"></i>&ensp;Images gallery</a></li>
				<li><a href="#"><i class="icon-folder-open"></i>&ensp;File manager</a></li>
				<li class="dropdown-submenu">
					<a tabindex="-1" href="#"><i class="icon-warning-sign"></i>&ensp;Error pages <span class="badge">6</span></a>
					<ul class="dropdown-menu">
						<li><a href="#">403 error</a></li>
						<li><a href="#">404 error</a></li>
						<li><a href="#">405 error</a></li>
						<li><a href="#">500 error</a></li>
						<li><a href="#">503 error</a></li>
						<li><a href="#">Website is offline error</a></li>
					</ul>
				</li>
				<li><a href="#"><i class="icon-font"></i>&ensp;Typography</a></li>
				<li><a href="#"><i class="icon-file"></i>&ensp;Invoice template</a></li>
			</ul>
		</li>
	</ul>
</div>