<footer class="footer">
	<ul class="nav span3">
		<li><%= link_to "Home",				root_path %></li>
	</ul>
	<ul class="nav span3">
		<h4>Elements</h4>

	</ul>
	<ul class="nav span3">
		<h4>Products</h4>
		<li><%= link_to "All",	products_path %></li>
		<li class="divider"></li>
		<li class="nav-header">Add One</li>
		<li><%= link_to "New",	new_product_path %></li>
	</ul>
</footer>